@{
    ViewData["Title"] = "Home Page";
}
@using Kendo.Mvc.UI
@model List<CryptoViewModel>


<div class="crypto-row">
    <div class="col-md-6">
        <h3>Available Cryptocurrencies</h3>
        @foreach (var crypto in Model)
        {
            <div class="row">
                <div class="preview">
                    <div>Crypto Name: @crypto.cryptoName</div>
                    <div>Value in USD: @crypto.valueUSD</div>
                    <div>Value in BTC: @crypto.valueBTC</div>
                    <div>Value in ETH: @crypto.valueETH</div>
                    <div>Market Cap: @crypto.MarketCap</div>
                    <div>Volume: @crypto.Volume</div>
                    <div>Circulating Supply: @crypto.CirculatingSupply</div>
                    <div>Total Supply: @crypto.TotalSupply</div>
                </div>
                <div class="update-form" hidden>
                    @await Html.PartialAsync("_UpdateCryptoView", crypto)
                </div>
                <div>
                    <form asp-action="DeleteCrypto" asp-route-cryptoId="@crypto.Id">
                        <div class="button-box">
                            <button type="button" class="btn btn-info update-crypto">Update Crypto</button>
                            <button type="submit" class="btn btn-danger delete-crypto">Delete Crypto</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr />

        }
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_AddCryptoView", new CryptoViewModel())
    </div>
</div>

@section Scripts
    {
    <script>
        
        $('.cancel-btn').click(function () {
            var parentcryptorRow = $(this).closest('.crypto-row');

            parentcryptorRow.find('.preview').show();
            parentcryptorRow.find('.update-form').hide();
            parentcryptorRow.find('.update-crypto').show();
            parentcryptorRow.find('.delete-crypto').show();
        });

        $('.update-crypto').click(function () {
            var parentcryptorRow = $(this).closest('.crypto-row');

            parentcryptorRow.find('.preview').hide();
            parentcryptorRow.find('.update-form').show();
            parentcryptorRow.find('.update-crypto').hide();
            parentcryptorRow.find('.delete-crypto').hide();
        });
    </script>
}

